.vagrant
/cookbooks

# Bundler
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

# Deployment folder
/Deployment
Deployment/History.dll
Deployment/History.dll
Deployment/Tarsier.Association.dll
Deployment/Tarsier.Extensions.dll
Deployment/Tarsier.Regedit.dll
Deployment/Tarsier.Security.dll
Deployment/Tarsier.Sources.dll
Deployment/Tarsier.UI.dll
